<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/> <!-- formatp capete/nombre_pagina :: nombre del fragmento-->
<body>
<div  th:replace="common/navbar :: common-navbar"/>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div th:if="${param.error}" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <p >
                    An error occurred while logging in</p>
            </div>
            <div th:if="${param.logout}" class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <p >
                    You've successfully logged out
                </p>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <div class="well">

                <div class="text-center">

                    <h1 >Please Sign In</h1>
                    <p class="lead"  >Please Sign In to access DevOps great features!</p>

                </div>

                <div class="text-left">

                    <form id="loginForm"
                          th:action="@{/login}"
                          method="post">

                        <div class="form-group">
                            <label for="username"  >Username</label>
                            <input type="text" id="username" name="username" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="password" >Password</label>
                            <input type="password" id="password" name="password" class="form-control" />
                        </div>

                        <div class="form-group">
                            <button type="submit"  class="btn btn-primary" >Login</button>
                        </div>

                    </form>
                    <a th:href="@{/forgotmypassword}">Forget Password ?</a>
                </div>

            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<div  th:replace="common/header :: before-body-scrpts"/> <!-- formatp capete/nombre_pagina :: nombre del fragmento-->

</body>
</html>